body {
	background: var(--gradient);
}

.login-container {
	background: var(--gradient);
	transition: margin 0.75s;
}

.login-container.expand {
	margin-top: 0;
}

svg {
	color: var(--white);
	margin-left: 90%;
	margin-top: 1rem;
}

fieldset {
	margin: 0 1rem;
	display: flex;
	flex-direction: column;
}

legend {
	color: var(--white);
}

label {
	color: var(--white);
}

input {
	margin-bottom: .5rem;
}

.gender-container {
	display: flex;
	flex-direction: column;
	margin: 1rem;
}

form a {
	border: none;
	background: transparent;
	color: var(--white);
}

.login-button {
	margin-top: 0.5rem;
	width: 3rem;
	background: var(--reverse-gradient);
	align-self: center;
	color: var(--white);
	border-radius: 0.25rem;
}

button.link {
	background: none;
	border: none;
	padding: 0;
	font-size: min(calc(0.75em + 0.75vw), 2em);
	color: var(--white);
	text-decoration: underline;
	margin: 1rem;
}


p.ww-vergeten {
	display: none;
	color: var(--white);
	margin: auto;
}

p.ww-vergeten.visible {
	display: block;
}